// COLORS
$page: #e5e5e5;
$main: #3f4e65;
$placeholder: #5c6370;
$secondary: #111111;
$button: #ffc85e;
$button-light: #ffe6b5;
$button-hover: #ffb018;
$button-active: #df9300;
$light-gray: #ededed;

// SIZES
$header: 60px;
$border-radius: 80px;
